[credential]
	credentialStore = cache
	helper = store
[user]
	name = James Blackwell
	email = 33688964+j-blackwell@users.noreply.github.com
[fetch]
  prune = true
[pull]
  ; ff = only
[core]
	editor = vim
